<ul class="nav justify-content-end">
    <li class="nav-item">
        <a class="nav-link" routerLink="/courses">Courses</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/students">Students</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/enroll">Enrol</a>
    </li>
</ul>
<img src="/assets/images/covid19-gestes-simples.jpg" class="img-fluid" width="100%">
<div class="jumbotron" style="background-color: #a9a9a9; height: 100%;">
    <h1>Welcome to Edureka</h1>
    <p class="lead">
        Creating Exciting Angular Projects with Edureka
    </p>
    <div class="card-group">
        <div class="card">
            <img class="card-img-top" height="200" src="/assets/images/Covid19_2.png" />
            <div class="card-body">
                <h5 class="card-title">Angular Tutorial</h5>
                <p class="card-text">Edureka's Angular Tutorial will help you learn Angular 9 from scratch</p>
                <p class="card-text"><small class="text-muted">Last update 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" height="200" src="/assets/images/Covid19_2.png" />
            <div class="card-body">
                <h5 class="card-title">Dependecy Injection</h5>
                <p class="card-text">Dependency injection can be used by new components to provide the service or other things that they need.
                </p>
                <p class="card-text"><small class="text-muted">Last update 3 mins</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" height="200" src="/assets/images/Covid19_2.png" />
            <div class="card-body">
                <h5 class="card-title">Angular CLI</h5>
                <p class="card-text">The Angular CLI is a command-line interface tool that is used to initialize, develop, and maintain Angular applications
                </p>
                <p class="card-text"><small class="text-muted">Last update 3 mins</small></p>
            </div>
        </div>
    </div>
</div>
<br>
<div class="jumbotron">
    <h3 class="display-9">Angular Tutorial Edureka</h3>
    <p class="lead">Edureka is the market-leader for online training certification</p>
    <hr class="my-4">
    <p>Click on this link to access our blog series.</p>
    <a class="btn btn-primary btn-lg" href="#">Learn more</a>
</div>
