<div fxLayout="column" fxLayoutGap="2px">
    <div class="ml-2" fxFlex="10">
        <div fxLayout="row" class="mt-2">
            <span fxFlex="70" class="text-left">
            <div class="form-group has-clear">
                <mat-form-field class="full-width">
                  <input matInput class="full-width" placeholder="Recherche ..." type="text" value="{{searchValue}}">
                </mat-form-field>
            </div>
          </span>
            <span fxFlex="30" class="text-right full-width">
            <button mat-button class="text-right" (click)="openAddUserDialog()" mat-flat-button color="primary" class="btn-border" >Ajouter</button>
          </span>
        </div>
    </div>
    <div fxFlex="90">
        <div *ngIf="loading">
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <table mat-table #patientstable [dataSource]="dataSource" class="table table-striped table-bordered">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
                <th *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                </th>
                <td *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!-- Firstname Column -->
            <ng-container matColumnDef="firstname">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                Prenom
              </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                {{element.firstname}}
              </span>
                </td>
            </ng-container>

            <!-- Firstname Column -->
            <ng-container matColumnDef="lastname">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                    Nom
                  </span>
                </th>
                <td *matCellDef="let element">
                    <span>
              {{element.lastname}}
            </span>
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="email">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                Email
              </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                {{element.email}}
              </span>
                </td>
            </ng-container>

            <!-- Phone Column -->
            <ng-container matColumnDef="phone">
                <th *matHeaderCellDef>
                    <span class="ml-1">
              Telephone
            </span>
                </th>
                <td *matCellDef="let element">
                    <span>
              {{element.phone}}
            </span>
                </td>
            </ng-container>

            <!-- Whatsapp number Column -->
            <ng-container matColumnDef="whatsapp">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                  WhatsApp
                </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                  {{element.whatsapp}}
                </span>
                </td>
            </ng-container>

            <!-- Address  Column -->
            <ng-container matColumnDef="address">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                  Adresse
                </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                  {{element.address}}
                </span>
                </td>
            </ng-container>

            <!-- City Column -->
            <ng-container matColumnDef="city">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                  Ville
                </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                  {{element.city}}
                </span>
                </td>
            </ng-container>

            <!-- status  Column -->
            <ng-container matColumnDef="status">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                  Status
                </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                  {{element.status}}
                </span>
                </td>
            </ng-container>
            <!-- Created date Column -->
            <ng-container matColumnDef="actions">
                <th *matHeaderCellDef>
                    <span class="ml-1">
                  Actions
                </span>
                </th>
                <td *matCellDef="let element">
                    <span>
                    <span mat-button (click)="openPatientPage(element)"class="btn btn-light mr-2 mb-1">Detail</span>
                    <span mat-button (click)="openConfirmDeleteUserDialog(element)" class="btn btn-danger">Suppr</span>
                    </span>
                </td>
            </ng-container>

            <tr class="mt-0 mb-0" mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>
    </div>
</div>
