<div fxFlexLayout="row">
    <div fxFlex fxFlexOffset="20px">
        <h3>{{ mode }} un Patient</h3>
        <form novalidate class="create-form" [formGroup]="patientDialogForm" #fform="ngForm" (ngSubmit)="onSubmit()">
            <mat-dialog-content>
                <p class="form-group">
                    <mat-form-field class="input-style">
                        <input matInput formControlName="lastname" class="form-control" value="{{lastname}}" placeholder="Nom" type="text" required>
                        <mat-error *ngIf="patientDialogForm.get('lastname').hasError('required') && patientDialogForm.get('lastname').touched">
                            Le nom du patient est obligatoire
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="form-group">
                    <mat-form-field class="input-style">
                        <input matInput formControlName="firstname" class="form-control" value="{{firstname}}" placeholder="Prenom" type="text" required>
                        <mat-error *ngIf="patientDialogForm.get('firstname').hasError('required') && patientDialogForm.get('firstname').touched">
                            Le prenom du patient est obligatoire
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="form-group">
                    <mat-form-field class="input-style">
                        <input matInput formControlName="email" class="form-control" value="{{email}}" placeholder="Email" type="email" required>
                        <mat-error *ngIf="patientDialogForm.get('email').hasError('required') && patientDialogForm.get('email').touched">
                            L'email du patient est obligatoire
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="form-group">
                    <mat-form-field class="input-style">
                        <input matInput formControlName="password" class="form-control" value="{{password}}" placeholder="Mot de passe" type="password" required>
                        <mat-error *ngIf="patientDialogForm.get('password').hasError('required') && patientDialogForm.get('password').touched">
                            Le mot de pass du patient est obligatoire
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="form-group">
                    <mat-form-field class="input-style">
                        <input matInput formControlName="quartier" class="form-control" value="{{quartier}" placeholder="Quartier" type="text" required>
                        <mat-error *ngIf="patientDialogForm.get('quartier').hasError('required') && patientDialogForm.get('quartier').touched">
                            Le quartier du patient est obligatoire
                        </mat-error>
                    </mat-form-field>
                </p>
                <p class="form-group">
                    <mat-form-field class="input-style">
                        <input matInput formControlName="profession" class="form-control" value="{{profession}}" placeholder="Profession" type="text" required>
                        <mat-error *ngIf="patientDialogForm.get('profession').hasError('required') && patientDialogForm.get('profession').touched">
                            La profession du patient est obligatoire
                        </mat-error>
                    </mat-form-field>
                </p>
            </mat-dialog-content>
            <mat-dialog-actions>
                <span class="flex-spacer"></span>
                <button mat-button mat-dialog-close class="btn btn-default">Cancel</button>
                <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="patientDialogForm.invalid">{{ mode }}</button>
            </mat-dialog-actions>
        </form>
    </div>
</div>
